<mat-toolbar>
    <mat-toolbar-row>
        <button mat-button value="home" routerLink="home" routerLinkActive="mat-primary" routerLinkActiveOptions="{exact: true}">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <span class="active">Home</span>
        </button>
        <button mat-button value="runvisualizer" routerLink="runvisualizer" routerLinkActive="mat-primary" routerLinkActiveOptions="{exact: true}">
            <mat-icon aria-hidden="false" aria-label="Example home icon">play_arrow</mat-icon>
            Run Visualizer
        </button>
        <button mat-button value="about" routerLink="about" routerLinkActive="mat-primary" routerLinkActiveOptions="{exact: true}">
            <mat-icon aria-hidden="false" aria-label="info icon">info</mat-icon>
            About
        </button>
        <button mat-button value="settings" routerLink="settings" routerLinkActive="mat-primary" routerLinkActiveOptions="{exact: true}">
            <mat-icon aria-hidden="false" aria-label="settings icon">settings</mat-icon>
            Settings
        </button>
        <span class="spacer"></span>
        <button mat-button value="user" routerLink="user" routerLinkActive="mat-primary" routerLinkActiveOptions="{exact: true}">
            <mat-icon aria-hidden="false" aria-label="user icon">account_circle</mat-icon>
            User
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
