<configuration>
    <property name="LOG_DIR_FINAL" value="${LOG_DIR:-logs}" />
    <property name="LOG_LEVEL_FINAL" value="${LOG_LEVEL:-info}" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${LOG_DIR_FINAL}/omv-server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_DIR_FINAL}/omv-server-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>2</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>1GB</maxFileSize>
        </triggeringPolicy>
	    <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
	</appender>
    <logger name="com.mchange.v2" level="warn"/>
    <logger name="io.netty" level="${LOG_LEVEL_FINAL}"/>
    <logger name="io.vertx" level="${LOG_LEVEL_FINAL}"/>
    <root level="${LOG_LEVEL_FINAL}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
